<div class="text-center mt-28 ">
  <h2 class="text-2xl font-mono">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
  </div>

  <div class="actions mt-5">
    <%= f.submit "Sign up",class: "bg-[#82c91e] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-5" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
